<div class="center jumbotron">
  <h1>Cara Belajar Interaktif</h1>
  <h2>Bantu Tingkatkan Daya Fokus Semasa Belajar</h2>
  <p>
“Jika seseorang meninggal dunia, maka terputuslah amalannya kecuali tiga perkara (yaitu): sedekah jariyah, ilmu yang dimanfaatkan, atau do'a anak yang sholeh” (HR. Muslim no. 1631). 
  </p>
</div>