<div class="center jumbotron">
  <h1>Cara Belajar Interaktif</h1>
  <h2>Bantu Tingkatkan Daya Fokus Semasa Belajar</h2>
  <p>
Sampaikanlah dariku walau hanya satu ayat [HR Al-Bukhari 3/1275 no 3274] 
  </p>
</div>