</br>
<div class="list-group">
<%= link_to "Part 01",quran_q01_path,class: "list-group-item list-group-ite" %>
<%= link_to "Part 02",quran_q02_path,class: "list-group-item list-group-item-action list-group-item-info" %>
</div>